---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="es">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>🧑‍💻 Hola, soy Jose!</h1>
			<p>
				Te doy la bienvenida a mi blog personal. Por aquí estaré compartiendo ideas, reflexiones y conclusiones a las que he llegado recientemente respecto a varios ámbitos de mi vida y lo que observo en la sociedad.
			</p>
			<p>
				Me apasiona la salud, la tecnología, la ciencia y los negocios. Si a ti también te interesan estos temas no olvides guardar esta página, porque aquí encontrarás contenido de gran valor, todas las semanas.
			</p>
			<p>Encuéntrame y conectémos en mis redes:</p>
			<ul>
				<li><a href="https://x.com/joseitosantos" target="_blank">X</a></li>
				<li><a href="https://youtube.com/@joseitosantos" target="_blank">YouTube</a></li>
				<li><a href="https://instagram.com/eljosesantos" target="_blank">Instagram</a></li>
				<li><a href="https://open.spotify.com/show/3r2HICCip6HEkdRfCh7ghw?si=144676012b2040d9" target="_blank">Escucha mi Podcast en Spotify</a></li>
				<li><a href="https://reflexionesdeunaprendiz.substack.com" target="_blank">Newsletter</a></li>
			</ul>
		</main>
		<Footer />
	</body>
</html>
